<a href="https://colab.research.google.com/github/mizykk/Python-Basic/blob/master/Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Encoding  
Î≤îÏ£ºÌòï Î≥ÄÏàò -> Ïó∞ÏÜçÌòï Î≥ÄÏàò

In [1]:
import pandas as pd

fruit = pd.DataFrame({'name':['apple', 'banana', 'cherry', 'durian'],
                      'color':['red', 'yellow', 'red', 'green']})   #ÏòàÏãú Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
fruit

     name   color
0   apple     red
1  banana  yellow
2  cherry     red
3  durian   green

## [pandas get_dummies()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html)  
One-Hot Encoding

In [2]:
pd.get_dummies(fruit['name'])

   apple  banana  cherry  durian
0      1       0       0       0
1      0       1       0       0
2      0       0       1       0
3      0       0       0       1

In [3]:
pd.get_dummies(fruit)   #dataframe Ï†ÑÏ≤¥Î•º ÌñàÏùÑ Îïå

   name_apple  name_banana  name_cherry  ...  color_green  color_red  color_yellow
0           1            0            0  ...            0          1             0
1           0            1            0  ...            0          0             1
2           0            0            1  ...            0          1             0
3           0            0            0  ...            1          0             0

[4 rows x 7 columns]

In [4]:
pd.get_dummies(fruit['name'], drop_first=True)   #N-1Í∞ú ÏÉùÏÑ±

   banana  cherry  durian
0       0       0       0
1       1       0       0
2       0       1       0
3       0       0       1

## pandas Categorical  
Labelling

In [5]:
pd.Categorical(fruit['name']).codes   #Î¨∏ÏûêÏó¥ labelling

array([0, 1, 2, 3], dtype=int8)

Ï∂îÍ∞ÄÏ†ÅÏù∏ Í≤ÉÏùÄ Ïó¨Í∏∞ Ï∞∏Í≥† : https://datascienceschool.net/view-notebook/aa62265f02fc429aa636ef343c3b1fda/

## [Scikit-learn LabelEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html)  
Labelling

In [6]:
fruit = pd.DataFrame({'name':['apple', 'banana', 'cherry', 'durian'],
                      'color':['red', 'yellow', 'red', 'green']})   #ÏòàÏãú Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
fruit

     name   color
0   apple     red
1  banana  yellow
2  cherry     red
3  durian   green

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(fruit['name'])
fruit['name'] = le.transform(fruit['name'])
fruit

   name   color
0     0     red
1     1  yellow
2     2     red
3     3   green

In [8]:
fruit['color'] = le.fit_transform(fruit['color'])   #fit + transform = fit_transform
fruit

   name  color
0     0      1
1     1      2
2     2      1
3     3      0

## [Scikit-learn One-Hot Encoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)  
One-Hot Encoding

sklearnÏùò OneHotEncoder Ìï®ÏàòÎäî Ïà´ÏûêÌòïÎßå ÏùΩÏùÑ Ïàò ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê Î¨∏ÏûêÌòïÏúºÎ°ú Îêú Î≥ÄÏàòÎäî Î®ºÏ†Ä labellingÏùÑ Ìï¥Ï£ºÏñ¥Ïïº ÌïúÎã§.  
(pd.get_dummies Ïì∞ÎäîÍ≤å Îπ†Î•ºÎìØü§¶üèª‚Äç‚ôÄÔ∏è)

In [25]:
fruit = pd.DataFrame({'name':['apple', 'banana', 'cherry', 'durian'],
                      'color':['red', 'yellow', 'red', 'green']})   #ÏòàÏãú Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
fruit

     name   color
0   apple     red
1  banana  yellow
2  cherry     red
3  durian   green

In [26]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

le = LabelEncoder()
fruit['name'] = le.fit_transform(fruit['name'])

onh = OneHotEncoder()
fn_reshaped = fruit['name'].values.reshape(-1, 1)
onh.fit_transform(fn_reshaped).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

## [Scikit-learn Categoricalencoder](https://15359-843222-gh.circle-artifacts.com/0/home/ubuntu/scikit-learn/doc/_build/html/stable/modules/generated/sklearn.preprocessing.CategoricalEncoder.html)  
: ÏûàÍ∏¥ÌïòÏßÄÎßå Í≤∞Íµ≠ ÎÇ¥ÎÜìÏßÄ ÏïäÏùÄ..ü§∑üèª‚Äç‚ôÄÔ∏è  
A. We don't have CategoricalEncoder (it's not included in the final release), please use *OrdinalEncoder* and *OneHotEncoder* instead.

In [0]:
pip install git+git://github.com/scikit-learn/scikit-learn.git   #Íµ≥Ïù¥ ÏÇ¨Ïö©ÌïòÍ≥† Ïã∂Îã§Î©¥ Ïù¥Í±∏ installÌïòÎ©¥ ÎêúÎã§.

In [0]:
pip install https://github.com/scikit-learn/scikit-learn/archive/master.zip   #Ïù¥Í±¥ ÏúÑÏóêÍ∫ºÎ≥¥Îã§ Îçî Îπ†Î•¥Îã§Í≥† Ìï©ÎãàÎã§.

In [0]:
from sklearn.preprocessing import CategoricalEncoder

ce = CategoricalEncoder()
fruit_reshaped = fruit['name'].values.reshape(-1,1)
ce.fit_transform(df_reshaped)